/* RESET */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* GLOBAL STYLES */
body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #af9270;
  color: #FFFDD0;
}

/* landing page (index.html) page styles */
.landing-page{
    font-family: "Imperial Script", cursive;
    background-image: url('images/background.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    color:#FFFDD0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    overflow-x: hidden;
}

.landing-page header{
  font-size: 2.8rem;
  text-align: center;
  margin:150px 0;
  font-weight: 400;
  letter-spacing: 1px;
}

.invitation{
  display:flex;
  justify-content: center;
  align-items: center;
  width:90%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: -100px;
}

.invitation a {
  display: block;
  width: 100%;
}

.invitation img{
  width:110%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin-left:-25px;
}

.landing-page p{
  font-size: 2rem;
  text-align: center;
  font-style: italic;
  animation: pulse 2s infinite; 
  margin-bottom: 100px;
  margin-top: 25px;
}

/* invitation (invitation.html) page styles */
.container{
  background-image: none;
  background-color: #b8936c;
  color:#FFFDD0;
  width:100%;
}

/* NAVIGATION STYLES */
nav{
  width:100%;
  font-weight: bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: #826349;
}

nav a{
  text-decoration: none;
  color:#ffff;
}

nav ul{
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  list-style-type: none;
  font-size: 1.05em;
  background-color: #826349;
  padding: 15px 0;
  margin: 0;
  width: 100%;
  align-items: center;
}


.nav-img img {
    width: 38px;      
    height: auto;     
    display: inline-block; 
    vertical-align:text-top;
}

/* HOME SECTION */
#Home{
  text-align:center;
  padding: 50px 50px;
}

#Home p:first-of-type{
  font-family: "MonteCarlo", cursive;
  font-size: 1.5rem;
  color: #fffffd;
  margin-bottom: 5px;
}

#Home h1{
  font-size: 6rem;
  font-family: "MonteCarlo", cursive;
  letter-spacing: 2px;
  color:#feecda;
  margin-top:-40px;
  font-weight: 100;
  margin-bottom:25px;
}

.subtitle{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.2rem;
  letter-spacing: .2cap;
  margin-top:-30px;
  color:#fffffd;
  margin-bottom:20px;
  text-transform: uppercase;
}

.bigger-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.bigger-divider .line {
  width: 80px;
  height: 2px;
  background-color: #7b1e2d;
}

.bigger-divider .heart {
  color: #7b1e2d;
  font-size: 25px;
}

.date{
  font-family:'Times New Roman', Times, serif;
  font-size:1.9rem;
  margin-top: 15px;
  color:#fffffd;
  text-transform: uppercase;
  letter-spacing: .1cap;
}

.tagline{
  font-family: 'Times New Roman', Times, serif ;
  font-size: 1.1rem;
  margin-top: 15px;
  color:#fffffd;
  letter-spacing: .18cap;
  margin-bottom:15px;
}

/* SECTION */
.section-divider{
  display:flex;
  align-items:center;
  justify-content: center;
  gap:20px;
  margin-top:-70px;
}

.swept-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 30px 0;
  gap: 15px;
}

.line-svg {
  width: 100%;
  height: -1px; /* Controls how deep the curve sags */
}

.line-svg path{
  stroke: #5e1622;
}

.section-divider .heart {
  color: #7b1e2d;
  font-size: 25px;
  align-content: top;
  margin-top:20px;
}

/* DETAILS SECTION */
.Details{
  padding:100px 100px;
  display: flex;
  justify-content: center;
}



/* RSVP SECTION */
.rsvp-section {
  padding: 100px 100px;
  display: flex;
  justify-content: center;
}

/* Card Container */
.rsvp-container {
  max-width: 950px;
  width: 100%;
  background-color: #b59675;
  border: 2.2px solid #e2ceb1;
  border-radius: 15px;
  padding: 40px 50px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

/* Header Text */
.section-title {
  font-family: cursive;
  font-size: 2.5rem;
  color: #8a2334;
  letter-spacing: 1px;
  margin-bottom: 2.5px;
}

/* Decorative Heart Divider */
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.divider .line {
  width: 40px;
  height: 1px;
  background-color: #7b1e2d;
}

.divider .heart {
  color: #7b1e2d;
  font-size: 12px;
}

/* Text Formatting */
.rsvp-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #efefeb;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Buttons */
.rsvp-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center; 
  gap: 15px;
}



.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 250px;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family:'Times New Roman', Times, serif;
}

.call-btn, .text-btn{
  background-color: #7b1e2d;
  color: #ffffff;
  border: 2px solid #7b1e2d;
}

.call-btn:hover, .text-btn:hover{
  background-color: #5e1622;
}

